body {
    font-family: sans-serif;
    font-size: small;
}

button, label {
    margin-left: 10px;
}

#mycanvas { 
    border: 1px solid black; 
}

#numBoids {
    width: 50px;
}

#boidsize {
    width: 40px;
}